@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Lato:wght@400;700;900&display=swap');

:root{
  --background-color: #fffbe7ff;
  --accent-color-0: #964b00ff;
  --accent-color-1: #FFCC99;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.App {
  height: 100vh;
  background-color: var(--background-color);
  overflow-x: hidden;
  .sections {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    top:80px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 80px);
      scroll-snap-align: start;
    }
  }
}